@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.contentContainer {
    position: absolute;
    background: black;
    color: white;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(-45deg, #44425f, #3d2f4c, #175368, #163074);
    background-size: 400% 400%;
    animation: zgradient 15s ease infinite;
}

@keyframes zgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.App {
    text-align: center;
}

